<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pns.ajio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopKaro"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity android:name=".ui.book.BooksActivity"
            android:exported="false" />
        <activity android:name=".ui.product.ProductActivity"
            android:exported="false" />
        <activity android:name=".ui.account.AccountActivity"
            android:exported="false" />
        <activity android:name=".ui.category.CategoryActivity"
            android:exported="false" />
        <activity android:name=".ui.wishlist.WishlistActivity"
            android:exported="false" />
        <activity android:name=".ui.main.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7075712694156587~9914046329"/>
    </application>
</manifest>